
.fundo {
    background-image: url(imagem/Sem\ título.png);
    opacity: 1;
}
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:10px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:22px;
    border-top-right-radius:22px;
    border-bottom-left-radius:22px;
    border-bottom-right-radius:22px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 0px #810e05;
    background:linear-gradient(#c62d1f, #f24437);
  }
div{
    text-align: center;
}